html {
  font-family: "Helvetica Neue";
  padding: 12px;
}
li {
  margin: 20px;
}
img#mock-up {
  width: 750px;
}
.week-number {
  text-transform: uppercase;
}
#navigation {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 48px;
}

#screen-shot {
  max-width: 800px;
}

#home-link {
  text-decoration: none;
  color: black;
}

.gem-asset {
  max-width: 200px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 300px;
  height: 450px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  background-color: #d8d8d8;
  border-radius: 3px;
  border: solid thin #b9b9b9;
}

.front img,
.back img {
  width: 150px;
  height: 120px;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.back p {
  padding: 0px 24px;
  margin-top: -12px;
  font-size: 14px;
}

#card-title-row {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  margin: 24px;
}

#card-title-row h3 {
  color: #d1253a;
  font-size: 32px;
  font-weight: 300;
}

#card-title-row img {
  width: 70px;
  height: 50px;
}

#example-1 {
  height: 100px;
  width: 100px;
  background: #ffffff;
  border: 1px solid #979797;
}

#example-2 {
  background: #3be82b;
  border: 1px solid #3be82b;
  border-radius: 4px;
  height: 100px;
  width: 100px;
}

#example-3 {
  background: #272343;
  border-radius: 50px;
  height: 100px;
  width: 100px;
}

#example-4 {
  background: #f925ff;
  height: 100px;
  width: 242px;
}

#example-5-container {
  display: flex;
}

.example-5-square:nth-child(1) {
  margin: 0 6px 0 0;
}

.example-5-square:last-child {
  margin: 0 0 0 6px;
}

.example-5-square {
  margin: 0 6px;
  height: 100px;
  width: 100px;
  background: #ffffff;
  border: 1px solid #979797;
}

#example-6-container {
  display: flex;
  flex-direction: column;
}

.example-6-square:nth-child(1) {
  margin: 0 0 6px 0;
}

.example-6-square:last-child {
  margin: 6px 0 6px 0;
}

.example-6-square {
  margin: 6px 0;
  height: 100px;
  width: 100px;
  background: #ffffff;
  border: 1px solid #979797;
}

#example-7 {
  background: #dfdfdf;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 150px;
}

#example-8 {
  background: #dfdfdf;
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 150px;
}

#example-9-container {
  display: flex;
}

.example-9-circle {
  margin: 0 200px;
  height: 165px;
  width: 135px;
  background: #ffffff;
  border: 1px solid #979797;
  border-radius: 100%;
}

#screen-shot-3 {
  width: 1200px;
}

.example-9-circle:nth-child(1) {
  margin: 0;
}

.example-9-circle:last-child {
  margin: 0;
}

#example-10 {
  font-family: "Times New Roman", Times, serif;
  font-size: 48px;
}

#example-11 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 48px;
}

#example-12 {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 48px;
  background: #272343;
  border: 1px solid #979797;
  border-radius: 18px;
  color: #ffffff;
  width: 582px;
  height: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#example-13 {
  font-size: 300px;
}
